# fly.toml app configuration file generated for catwalk-live-backend-dev on 2025-12-12T16:32:02-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'catwalk-live-backend-dev'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[deploy]
  release_command = "alembic upgrade head"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 100
    soft_limit = 80

  [http_service.http_options]
    idle_timeout = 300

[checks]
  [checks.health]
    port = 8080
    type = 'http'
    interval = '15s'
    timeout = '5s'
    grace_period = '30s'
    method = 'get'
    path = '/api/health'

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
